body {

  font-family: sans-serif;
  background-image: linear-gradient(to bottom, #00CED1, #FFD700 100%);
  background-attachment: fixed;
  max-width: 600px;
  margin: 0 auto;
  min-height: 100%;

}

/*.task {
	ma
}*/

 
